.blue{
    background-color: blue;
    height:100px;
    width: auto;

}
/* p{
    text-align: center;
    margin: 0 auto;
    width: 75%;
    margin-top: 50px;
} */
.yellow{

    background-color: yellow;
    height: 100px;
    width: auto;
    padding: 10px 20px 10px 10px;
    margin-top: 10px;
    margin:0 auto;
    border: 5px black solid;
    border-radius: 80px;

}
p{
    padding: 10px;
    background-color: #fff;

}

.orange{

    background-color: orangered ;
    height: 100px;
    width: auto;
    

}